In [1]:
import re
import string 

import pandas as pd

In [2]:
lampung_df = pd.read_csv("datasets/lampung.csv", encoding='cp1252')
lampung_df.columns = ["words"]
lampung_df['label'] = "lampung"

In [3]:
indonesia_df = pd.read_csv("datasets/indonesia.csv", encoding='cp1252')
indonesia_df.columns = ["words"]
indonesia_df['label'] = "indonesia"

In [4]:
dataframe_df = pd.concat([lampung_df, indonesia_df])
dataframe_df = dataframe_df.sample(frac=1).reset_index(drop=True)
dataframe_df

                                                  words      label
0                                             dia gemuk  indonesia
1                   berkata guru anak-anak jangan takut  indonesia
2                                    saya bolos sekolah  indonesia
3     dilihat komariyah ayahnya , pak sulaiman kelua...  indonesia
4                                 sepertinya masih lama  indonesia
...                                                 ...        ...
5993    mata pelajaran apa yang kamu sukai di sekolah ?  indonesia
5994                      lawan regu nyak kebobolan 1 0    lampung
5995                 ngedok sai handak ngedok sai suluh    lampung
5996                 pira kali sabah sija dialiri wai ?    lampung
5997        warna yang hijau agar kendaraan dapat pergi  indonesia

[5998 rows x 2 columns]

In [5]:
  def case_folding(text):
    text = text.lower() # ubah text menjadi huruf kecil
    text = text.strip() # menghapus wihte space pada awal kalimat
    text = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", text)
    text = text.translate(str.maketrans("","",string.punctuation))
    return text

dataframe_df['label'] = dataframe_df['label'].apply(case_folding).values

In [6]:
dataframe_df.head()

                                               words      label
0                                          dia gemuk  indonesia
1                berkata guru anak-anak jangan takut  indonesia
2                                 saya bolos sekolah  indonesia
3  dilihat komariyah ayahnya , pak sulaiman kelua...  indonesia
4                              sepertinya masih lama  indonesia

In [7]:
dataframe_df.to_csv('datasets/raw_dataset.csv', index=False)